body{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle{

    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-color: bisque; */
    background: conic-gradient(red,blue 3.6deg, white 0deg);
    display: flex;
    justify-content: center;
    align-items: center;

}

#progress{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}